<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animals</title>
</head>
<body>
  <h1>List of Animals</h1>
  <ul>
    <% animals.forEach(function(animal) { %>
      <li><%= animal.name %> - <%= animal.species %> (Age: <%= animal.age %>)</li>
    <% }); %>
  </ul>
</body>
</html>
